<div class = deviseshow>
  <div class =devisepage>
    <h2>新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

       <div class="field">
        <%= f.label :"ショップ名" %><br />
        <%= f.text_field :shop, autofocus: true, autocomplete: "shop" %>
      </div>

      <div class="field">
        <%= f.label :"メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :"パスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :"パスワード(確認用)" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="field">
        <%= f.label :"ショップ住所" %><br />
        <%= f.text_field :address, autocomplete: "on",placeholder: "例) 東京都" %>
      </div>
      <div class="field">
        <%= f.label :"ショップURL" %><br />
        <%= f.text_field :text, autocomplete: "on",placeholder: "aaa@aaa.ne.jp" %>
      </div>

<br>
      <div class="actions">
        <%= f.submit "新規登録" %>
      </div>
    <% end %>
    <br>

    <%= render "devise/shared/links" %>
  </div>
</div>
