  <div class="top-contents">
  <div class="top-contents__shopName">
    <div class="top-contents__shopName__defaultname">
      SHOP
    </div>
    <div class="top-contents__shopName__name">
      <p class="shop"><%= @shop.shop %></p>
    </div>
  </div>
  <div class="top-contents__shopAddress">
    <div class="top-contents__shopAddress__defaultAddress">
      ADDRESS
    </div>
    <div class="top-contents__shopAddress__address">
      <p class="shop"><%= @shop.address %></p>
    </div>
  </div>
  <div class="top-contents__shopUrl">
    <div class="top-contents__shopUrl__defaultUrl">
      URL
    </div>
    <div class="top-contents__shopUrl__url">
      <p class= "shop"><%= @shop.text %></p>
    </div>
  </div>
</div>

<div class="border">
</div>
<div class="bottom-contents">
<p class="couponindex"><%= @shop.shop %>のクーポン一覧</p>
<% @salecoupons.each do |salecoupon| %>
<% if shop_signed_in? && current_shop.id == salecoupon.shop_id %>


  <div class="post-contents">
    <div class="posts">
      <div class="post_shop">
          ショップ: 
            <%= salecoupon.shop.shop %>
      </div>
      <div class="post_body">
      詳　　細:
        <%= salecoupon.body %>
      </div>
      <div class="post_saletime">
      使用期限: 
        <%= salecoupon.start.to_s(:datetime_jp) %>
        〜
        <%= salecoupon.end.to_s(:datetime_jp) %>
        まで
      </div>
      <div class="post-created">
        投稿日時: 
          <%= salecoupon.created_at.to_s(:datetime_jp) %>
      </div>
    </div>
    <div class="setting">  
      <p>
          <%= link_to '編集', "/salecoupons/#{salecoupon.id}/edit", method: :get %>
      </p>
      <p>
        <%= link_to '削除', "/salecoupons/#{salecoupon.id}", method: :delete %>
      </p>
    </div>
     

   
    </div>

<% end %>
<% end %>

</div>