  <div class="top-contents">
  <div class="top-contents__shopName">
    <div class="top-contents__shopName__defaultname">
      SHOP
    </div>
    <div class="top-contents__shopName__name">
      <p class="shop"><%= @shop.shop %></p>
    </div>
  </div>
  <div class="top-contents__shopAddress">
    <div class="top-contents__shopAddress__defaultAddress">
      ADDRESS
    </div>
    <div class="top-contents__shopAddress__address">
      <p class="shop"><%= @shop.address %></p>
    </div>
  </div>
  <div class="top-contents__shopUrl">
    <div class="top-contents__shopUrl__defaultUrl">
      URL
    </div>
    <div class="top-contents__shopUrl__url">
      <p class= "shop"><%= @shop.text %></p>
    </div>
    
  </div>
    <a href= / class="shopUpdate">
    編集
    </a>
  

</div>

<div class="border">
</div>
<a href=/salecoupons/new class="couponBtn">
  クーポン発行
  </a>
<div class="bottom-contents">
<% @salecoupons.each do |salecoupon| %>
<% if shop_signed_in? && current_shop.id == salecoupon.shop_id %>


  <div class="post-contents">
    <div class="posts">
      <div class="post_shop">
          ショップ: 
            <%= salecoupon.shop.shop %>
      </div>
      <div class="post_body">
      詳　　細:
        <%= salecoupon.body %>
      </div>
      <div class="post_saletime">
      使用期限: 
        <%= salecoupon.start.to_s(:datetime_jp) %>
        〜
        <%= salecoupon.end.to_s(:datetime_jp) %>
        まで
      </div>
      <div class="post-created">
        投稿日時: 
          <%= salecoupon.created_at.to_s(:datetime_jp) %>
      </div>
    </div>
    <div class="setting">  
      <button type="button" class="btn btn-primary">
          <%= link_to '編集', "/salecoupons/#{salecoupon.id}/edit", method: :get %>
      </button>
      <button type="button" class="btn btn-danger">
        <%= link_to '削除', "/salecoupons/#{salecoupon.id}", method: :delete %>
      </button>
    </div>
     
   
    </div>
<% end %>
<% end %>

  <nav class="pageNation">
    <%= paginate @salecoupons,  theme: 'twitter-bootstrap-4' %>
    
  <nav>
</div>