  <body>
    <header class="header">
      <div class="header__title">
        <%= link_to "クーポン発行", new_salecoupon_path%>
      </div>
      <div class="header__right">
          <%= link_to "ログイン", new_shop_session_path, class: "header__top--btn" %>
          <%= link_to "ログアウト", destroy_shop_session_path, method: :delete, class: "header__top--btn" %>
      </div>
      <div class="mypage">
          <%= link_to "マイページ", shop_path(current_shop)%>

    </header>
    <div class="contents">
      <%= yield %>
    </div>
  </body>

<% @salecoupons.each do |salecoupon| %>

  <div class="post">

      <div class="more">
        <p>
          <% if shop_signed_in? && current_shop.id == salecoupon.shop_id %>
            <%= link_to '編集', "/salecoupons/#{salecoupon.id}/edit", method: :get %>
          </p>
            <p>
              <%= link_to '削除', "/salecoupons/#{salecoupon.id}", method: :delete %>
            </p>
          <% end %>
      </div>

    <div class="post-shop">
    ショップ: 
      <%= salecoupon.shop.shop %>
    </div>

    <div class="post-body">
    詳　　細:
      <%= salecoupon.body %>
    </div>
    <div class="post-saletime">
    使用期限: 
      <%= salecoupon.start.to_s(:datetime_jp) %>
      〜
      <%= salecoupon.end.to_s(:datetime_jp) %>
      まで
    </div>


    <div class="post-created">
      投稿日時: 
        <%= salecoupon.created_at.to_s(:datetime_jp) %>
    </div>
  </div>

<% end %>