  <body>
    <header class="header">
      <div class="header__title">
        <%= link_to "クーポン投稿", new_salecoupon_path, class: "header__title--text" %>
      </div>
      <div class="header__right">
        
          <%= link_to "ログアウト", destroy_shop_session_path, method: :delete, class: "header__right--btn" %>
      
      </div>
    </header>
    <div class="contents">
      <%= yield %>
    </div>
  </body>

<% @salecoupons.each do |salecoupon| %>

  <div class="post">
    <div class="post-shop">
      <%= salecoupon.shop %>
    </div>

    <div class="post-body">
      <%= salecoupon.body %>
    </div>

    <div class="post-created">
        <%= salecoupon.created_at %>
    </div>
  </div>

<% end %>